// font-sizes
$font-sixes: (
  "exerTitle": 1.125rem,
  "small": 1rem,
  "medium": 3rem,
);
$font-weights: (
    'light': 300,
    'normal': 400,
    'bold': 500
);
$breakpoints: (
    'medium': 37.5em,
    'large': 60em

);